@model SportShopProject.Models.Product
<ul>
    <li>
        <span class="leftColumn">Производитель</span>
        <span class="rightColumn">@Model.Vendor</span>
    </li>
    <li>
        <span class="leftColumn">Артикул</span>
        <span class="rightColumn">@Model.Article</span>
    </li>
</ul>