@{
    ViewBag.Title = "О компании";
}
<div class="commonView">
    <h2>Интернет-магазин спортивных товаров SportCase</h2>
    <p>
        SportCase – один из ведущих интернет-магазинов спортивных товаров в России(на самом деле нет).
        <br />
        <br />
        У нас можно приобрести:
        <ul>
            <li>спортивную одежду</li>
            <li>велосипеды</li>
            <li>ролики</li>
            <li>тренажёры</li>
            <li>спортивную обувь</li>
            <li>мячи</li>
        </ul>
        и многое другое.
    </p>
</div>