@{
    ViewBag.Title = "О доставке";
}
<div class="commonView">
    <h2>@ViewBag.Title</h2>

    <p>Доставка осуществляется по Москве курьером(250 руб.) и в остальные города России по почте(300 руб.).</p>
</div>