@model PagesLinksViewModel
<div class="pager">
    @if (Model.Min > 1)
    {
        @Html.ActionLink("1", "ProductList", "Product", new { page = 1, category = Model.Category },null)
        <p>..</p>
    }
    @for (int i = Model.Min; i <= Model.Max; i++)
    {
        if (i != Model.Current)
        {
            @Html.ActionLink(i.ToString(), "ProductList", "Product", new { page = i, category = Model.Category },null)
        }
        else
        {
            <span>@i.ToString()</span>
        }
    }
    @if (Model.Last > Model.Max)
    {
        <p>..</p>
        @Html.ActionLink(Model.Max.ToString(), "ProductList", "Product", new { page = Model.Last, category = Model.Category },null)
    }
</div>